{% extends 'material/base.html' %}
{% block title %} 
Descripcion de fotos
{% endblock title %}


{% block navbar %}
<nav class="#006064 cyan darken-4" role="navigation">
    <div class="nav-wrapper" tabindex="0">
        <div>
            <ul>
                <li tabindex="0"><a style="font-weight: bold;" onClick="this.href='/?texto='+document.getElementById('my-data').getAttribute('content')" > Descripción de fotos </a></li>
                <li class="active" tabindex="1"><a style="font-weight: bold;"> Acerca de nosotros</a></li>
            </ul>
        </div>
    </div>

</nav>

{% endblock navbar %}



{% block content %} 
<meta id="my-data" content={{tamanoTexto}}></meta>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        const l = $("#my-data").attr("content")

        console.log(l)
    });


</script>

<!-- <audio id="theAudio" autoplay src="static/audio/{{ theAudioFile }}"></audio> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="container" > 
        
        <main >
            <div id='deDiv' class="row" >
                {% if tamanoTexto == 'noAgrandado' %}
                <p style="font-size: 2.3em; text-align: center;" tabindex="2"> Somos dos estudiantes de Ingenieria de Sistemas de la Universidad Metropolitana, desarrollamos esta herramienta con la finalidad de brindarle una ayuda a las personas con discapacidad visual</p>
                {% else %}
                <p style="font-size: 3.1em; text-align: center;" tabindex="2"> Somos dos estudiantes de Ingenieria de Sistemas de la Universidad Metropolitana, desarrollamos esta herramienta con la finalidad de brindarle una ayuda a las personas con discapacidad visual</p>
                {% endif %}
            </div>
        </main>

    </div>


{% endblock content %}